<div class="container-fluid">
	<div class="row">
		<% @albums.each do |album| %>
			<div class="d-inline-block col-6 col-md-4 col-lg-3 p-3">
				<div class="card-body">
					<div>
						<div class="holder">
							<img class="clickable" style="width:100%" title="<%= album.title %>" artist="<%= album.artist %>" id="<%= album.album_code %>" src="<%= album.cover_link %>" preview-link="<%= album.preview_link %>">	
						</div>
					</div>
					<p class="font-weight-bold my-0 card-title"><%= album.title %></p>
					<p class="text-muted my-0"><%= album.album_code %></p>
					<p class="text-muted my-0"><%= album.artist %></p>
				</div>
			</div>
		<% end %>
		<div class="container">
			<%= paginate @albums %>
		</div>
	</div>
</div>