<!DOCTYPE html>
<html>
  <head>
    <title>Doujin Desu!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place this data between the <head> tags of your website -->
    <meta name="Doujin Desu!" content="Discover the whole new realm of indie music at Doujin Desu!" />
    <meta property="og:image" content="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg" />
    <meta property="og:description" content="Discover the whole new realm of indie music at Doujin Desu! For fans, by fans to create a platform to celebrate music with passion." />


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <%= link_to 'Doujin Desu!', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-3">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item mx-3">
            <%= link_to 'Genre', genres_path, class: 'nav-link' %>
          </li>
          <li class="nav-item mx-3"> 
              <%= link_to "Contact Us", contact_index_path, class: 'nav-link' %>        
            </li>
          <% if logged_in? %>
            <% if current_user.permission_level == "admin" %>
              <li class="nav-item mx-3">
                <%= link_to 'Admin', rails_admin_path, class: 'nav-link' %>
              </li>
            <% end %>
          <% end %>
          <% if logged_in? %>
            <li class="nav-item mx-3">
                <a class="nav-link disabled">Welcome, <%= current_user.name %></a>
            </li>
            <li class="nav-item mx-3">
                <%= link_to 'Logout', logout_path, class: 'nav-link btn btn-outline-danger text-danger' %>
            </li>
          <% else %>
            <li class="nav-item mx-3">
              <%= link_to "Sign Up", signup_path, class: 'nav-link' %>
            </li>
            <li class="nav-item mx-3"> 
              <%= link_to "Log In", login_path, class: 'nav-link' %>        
            </li>
          <% end %>
          <li class="nav-item mx-3">
            <%= link_to '+ Add album', album_new_path, class: 'nav-link' %>
          </li>
        </ul>


        <form class="form-inline my-2 my-lg-0" method="get" action=<%= root_path %>>
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
    </nav>

    <div id="preview-container" class="container-fluid d-none" style="height:15vh">
      <div class="row bg-secondary" style="height:15vh">

        <div class="col-2 text-center" style="height:100%">
          <img id="preview-img" class="album-cover" src="http://tamusic.jp/img/TAM3-0154_400-400.jpg">
        </div>

        <div class="col-6">
          <div>
            <br>
            <h5 id="preview-title" class="font-weight-bold text-light">Title</h5>
            <p id="preview-code" class="text-light">Code</p>
            <p id="preview-artist" class="text-light">Artist</p>
          </div>
        </div>

        <div class="col-4 text-center" style="height:100%">
          <iframe id="preview-video" height="100%" src="#" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

      </div>
    </div>
    <% if notice == nil %>
    <% else %>
      <div class="alert alert-info" role="alert"><%= notice %></div>
    <% end %>
    <%= yield %>
    <script>
      console.log("Js is ready");

      $(document).ready(function() {
        let previewTitle = $('#preview-title');
        let previewCode = $('#preview-code');
        let previewArtist = document.getElementById('preview-artist');
        let previewImg = $('#preview-img');
        let previewVideo= $('#preview-video')
        let previewContainer= $('#preview-container')

        $(".clickable").click(function(event){
          event.preventDefault();
          previewImg.attr('src',this.src)
          previewTitle.html(this.title);
          previewCode.html(this.id);
          previewArtist.innerHTML=this.getAttribute('artist');
          previewVideo.attr('src',this.getAttribute('preview-link')+'?autoplay=1');
          previewContainer.removeClass('d-none')
        })

      })
    </script>
  </body>

</html>
